In [2]:
#dict
#-index
#-order
#-multiple values
#-mutable datatype

In [ ]:
#d = {}
#d = dict()
#d = {<key>:<value>, <key>:<value>........ }

In [3]:
d = {'a':'Apple', 'b':'Ball', 'c':'cat'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'cat'}

In [6]:
d['c']

'cat'

In [7]:
len(d)

3

In [8]:
d = {'a':'Apple', 'b':'Ball', 'c':'cat'}
d['a'] = "apple"
d

{'a': 'apple', 'b': 'Ball', 'c': 'cat'}

In [9]:
d = {'a':'Apple', 'b':'Ball', 'c':'cat'}
d['d'] = "never"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'cat', 'd': 'never'}

In [11]:
d = {}
d['a'] = "Gnt"
d['b'] = "cnt"
d['c'] = "Bnt"
d['d'] = "Dnt"
d

{'a': 'Gnt', 'b': 'cnt', 'c': 'Bnt', 'd': 'Dnt'}

In [12]:
d = {}
n = int(input("Enter the n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter the phone = "))
    d[name] = phone
print(d)

Enter the n = 2
Enter name = jpt
Enter the age = 21
Enter name = jkp
Enter the age = 12
{'jpt': 21, 'jkp': 12}

In [13]:
for i in d:
    print(i)

jpt
jkp

In [14]:
for i in d.values():
    print(i)

21
12

In [15]:
for i in d.items():
    print(i)

('jpt', 21)
('jkp', 12)

In [20]:
x = []
d = {'a':'Apple', 'b':'Ball', 'c':'cat'}
for i in d.items():
    x.append(i)
x

[('a', 'Apple'), ('b', 'Ball'), ('c', 'cat')]

In [21]:
d = {'a':'Apple', 'b':'Ball', 'c':'cat'}
c = {'Hari':'9808154696'}
d.update(c)
d

{'a': 'Apple', 'b': 'Ball', 'c': 'cat', 'Hari': '9808154696'}

In [ ]:
d = {('Ram','Shyam'): '9852072', 'i':'95785968412'}
c = [{'Hari','Shyam'}]

In [26]:
#del
d = {'a':'Apple', 'b':'Ball', 'c':'cat'}
del d['a']
print(d)

{'b': 'Ball', 'c': 'cat'}

In [29]:
d = {'a':'Apple', 'b':'Ball', 'c':'cat'}
d.pop('a')
print(d)

{'b': 'Ball', 'c': 'cat'}

In [39]:
d = {'a':'Apple', 'b':'Ball', 'c':'cat'}
d.clear()
d

{}

In [40]:
#list_inside_dictionary
d = {'a':[5148636985455,5896214896248], 'b':[82684841,415418452], 'c':[963852741,17258369]}
print(d)

{'a': [5148636985455, 5896214896248], 'b': [82684841, 415418452], 'c': [963852741, 17258369]}

In [43]:
print(d['a'])
print(d['a'][0])

[5148636985455, 5896214896248]
5148636985455

In [44]:
d = {}
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc_number = "))
    ncell_phone = int(input("Enter ntc_number = "))
    d[name] = [ntc_phone,ncell_phone] #this means the d[name] is the key and the phone numbers are the values
d

Enter n =1
Enter name = jpt creation
Enter ntc_number = 9818525256
Enter ntc_number = 9808190557

{'jpt creation': [9818525256, 9808190557]}

In [45]:
d = {'a':[5148636985455,5896214896248], 'b':[82684841,415418452], 'c':[963852741,17258369]}
d['Hari']:[898589559,5845848484]
d

{'a': [5148636985455, 5896214896248],
 'b': [82684841, 415418452],
 'c': [963852741, 17258369]}

In [46]:
d = {'a':[5148636985455,5896214896248], 'b':[82684841,415418452], 'c':[963852741,17258369]}
d['a'][0]

5148636985455

In [47]:
d = {'a':[5148636985455,5896214896248], 'b':[82684841,415418452], 'c':[963852741,17258369]}
d['a'][0] = 852852852852
d

{'a': [852852852852, 5896214896248],
 'b': [82684841, 415418452],
 'c': [963852741, 17258369]}

In [48]:
d = {'a':[5148636985455,5896214896248], 'b':[82684841,415418452], 'c':[963852741,17258369]}
d['a'].append(74741741741741741)
d

{'a': [5148636985455, 5896214896248, 74741741741741741],
 'b': [82684841, 415418452],
 'c': [963852741, 17258369]}

In [56]:
name = []
age = []
address = []
n = int(input("Enter the value of n = "))
for i in range(n):
    nm = input("Enter the name = ")
    ae = int(input("Enter the age = "))
    ads = input("Enter the address = ")
    name.append(nm)
    age.append(ae)
    address.append(ads)
a = {'name': nm, 'age': ae, 'address': ads}
a

Enter the value of n = 1
Enter the name = ashim
Enter the age = 21
Enter the address = gatthaghar

{'name': 'ashim', 'age': 21, 'address': 'gatthaghar'}

In [2]:
#dictionary_inside_list
l = [{'name':'Ashim', 'age':34, 'address': 'kathmandu'},
    {'name':'Ash', 'age':24, 'address': 'bkt'},
    {'name':'Ashton', 'age':14, 'address': 'lal'},
    {'name':'Ashi', 'age':21, 'address': 'kav'}]
l

[{'name': 'Ashim', 'age': 34, 'address': 'kathmandu'},
 {'name': 'Ash', 'age': 24, 'address': 'bkt'},
 {'name': 'Ashton', 'age': 14, 'address': 'lal'},
 {'name': 'Ashi', 'age': 21, 'address': 'kav'}]

In [3]:
data = []
n = int(input("Enter the n = "))
for i in range(n):
    name = input("Enter the name = ")
    age = int(input("Enter the age = "))
    add = input("Enter any address = ")
    info = {'name': name, 'age': age, 'add': add}
    data.append(info)
print(data)

Enter the n = 1
Enter the name = ashim
Enter the age = 21
Enter any address = kathmandu
[{'name': 'ashim', 'age': 21, 'add': 'kathmandu'}]

In [6]:
data = [{'name':'Ashim', 'age':34, 'address': 'kathmandu'},
    {'name':'Ash', 'age':24, 'address': 'bkt'}]
data.append({'name':'Ashton', 'age':14, 'address': 'lal'})
data

[{'name': 'Ashim', 'age': 34, 'address': 'kathmandu'},
 {'name': 'Ash', 'age': 24, 'address': 'bkt'},
 {'name': 'Ashton', 'age': 14, 'address': 'lal'}]

In [9]:
print(data[0]['name'])

Ashim

In [11]:
data[0]['name'] = 'Ramesh'
data

[{'name': 'Ramesh', 'age': 34, 'address': 'kathmandu'},
 {'name': 'Ash', 'age': 24, 'address': 'bkt'},
 {'name': 'Ashton', 'age': 14, 'address': 'lal'}]

In [12]:
del data[0]['name']
data

[{'age': 34, 'address': 'kathmandu'},
 {'name': 'Ash', 'age': 24, 'address': 'bkt'},
 {'name': 'Ashton', 'age': 14, 'address': 'lal'}]

In [19]:
#nested_dictionary
#dictionary inside dictionary
a = {1: {'name':'Ashim', 'age':32, 'add':'Kathmandu'},
     2: {'name':'Asm', 'age':3, 'add':'Kath'},
     3: {'name':'Asim', 'age':22, 'add':'Kahmandu'}}
a

{1: {'name': 'Ashim', 'age': 32, 'add': 'Kathmandu'},
 2: {'name': 'Asm', 'age': 3, 'add': 'Kath'},
 3: {'name': 'Asim', 'age': 22, 'add': 'Kahmandu'}}

In [21]:
d = {}
n = int(input("Enter the n = "))
for i in range(1,n+1):
    name = input("Enter the name = ")
    age = int(input("Enter the age = "))
    add = input("Enter any address = ")
    info = {'name': name, 'age': age, 'add': add}
    d[i] = info
print(d)

Enter the n = 1
Enter the name = Ashim
Enter the age = 21
Enter any address = kathamandu
{1: {'name': 'Ashim', 'age': 21, 'add': 'kathamandu'}}

In [23]:
a = {1: {'name':'Ashim', 'age':32, 'add':'Kathmandu'},
     2: {'name':'Asm', 'age':3, 'add':'Kath'}}
a[3] =  {'name':'Asim', 'age':22, 'add':'Kahmandu'}
a

{1: {'name': 'Ashim', 'age': 32, 'add': 'Kathmandu'},
 2: {'name': 'Asm', 'age': 3, 'add': 'Kath'},
 3: {'name': 'Asim', 'age': 22, 'add': 'Kahmandu'}}

In [24]:
a[1]['name'] = 'Akash'
a

{1: {'name': 'Akash', 'age': 32, 'add': 'Kathmandu'},
 2: {'name': 'Asm', 'age': 3, 'add': 'Kath'},
 3: {'name': 'Asim', 'age': 22, 'add': 'Kahmandu'}}

In [26]:
for i in a.values():
    print(i)

{'name': 'Akash', 'age': 32, 'add': 'Kathmandu'}
{'name': 'Asm', 'age': 3, 'add': 'Kath'}
{'name': 'Asim', 'age': 22, 'add': 'Kahmandu'}

In [30]:
for i in a.values():
    phone = int(input("Enter the phone number = "))
    i['phone'] = phone
print(a)

Enter the phone number = 222222
Enter the phone number = 3333333
Enter the phone number = 444444
{1: {'name': 'Akash', 'age': 32, 'add': 'Kathmandu', 'phone': 222222}, 2: {'name': 'Asm', 'age': 3, 'add': 'Kath', 'phone': 3333333}, 3: {'name': 'Asim', 'age': 22, 'add': 'Kahmandu', 'phone': 444444}}

In [31]:
for i in a.values():
    ntc_phone = int(input("Enter the phone number = "))
    ncell_phone = int(input("Enter the phone number = "))
    i['phone'] = [ntc_phone, ncell_phone]
print(a)

Enter the phone number = 33333333
Enter the phone number = 5555555
Enter the phone number = 444444
Enter the phone number = 555555888
Enter the phone number = 77777
Enter the phone number = 6666
{1: {'name': 'Akash', 'age': 32, 'add': 'Kathmandu', 'phone': [33333333, 5555555]}, 2: {'name': 'Asm', 'age': 3, 'add': 'Kath', 'phone': [444444, 555555888]}, 3: {'name': 'Asim', 'age': 22, 'add': 'Kahmandu', 'phone': [77777, 6666]}}

In [32]:
#crud
a = {1:{'phy':{'pr':32, 'th': 45}, 'che':{'pr':33, 'th': 45}, 'bio':{'pr':32, 'th': 45}}}
a

{1: {'phy': {'pr': 32, 'th': 45},
  'che': {'pr': 33, 'th': 45},
  'bio': {'pr': 32, 'th': 45}}}