In [1]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp38-cp38-win_amd64.whl size=247943 sha256=5ba571dcd95b39e6e1c0b7839f0808635a0700212de3138ccc07464b515b98a4
  Stored in directory: c:\users\ashim\appdata\local\pip\cache\wheels\57\e4\98\5feafb5c393dd2540e44b064a6f95832990d543e5b4f53ea8f
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [2]:
import mysql.connector
database = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "Pythonclass"
)
db = database.cursor()

In [8]:
#selecting
db.execute("SELECT * FROM student")
result = db.fetchall()
result

[(0, '{name}', 0, '{address}'),
 (1, 'Ashia', 21, 'Kathmandu'),
 (2, 'Ashiana', 21, 'Kathmandu'),
 (3, 'Adarsh', 17, 'Kathmandu'),
 (4, 'Ashiana', 21, 'Lalitpur'),
 (5, 'Ashiana', 22, 'Lalitpur')]

In [9]:
for x in result:
    print(x)

(0, '{name}', 0, '{address}')
(1, 'Ashia', 21, 'Kathmandu')
(2, 'Ashiana', 21, 'Kathmandu')
(3, 'Adarsh', 17, 'Kathmandu')
(4, 'Ashiana', 21, 'Lalitpur')
(5, 'Ashiana', 22, 'Lalitpur')

In [11]:
db = database.cursor()

sql = "INSERT INTO student (SN, Name, Age, Address) VALUES ('5', 'Ashiana', '22', 'Lalitpur')"

db.execute(sql)

database.commit()

print(db.rowcount, "record inserted.")

1 record inserted.

In [4]:
db = database.cursor()
sql = "SELECT SN,Name,Address FROM student WHERE address ='Lalitpur'"
db.execute(sql)
result = db.fetchall()
for x in result:
    print(x)

(4, 'Ashiana', 'Lalitpur')
(5, 'Ashiana', 'Lalitpur')

In [14]:
db = database.cursor()
sql = "DELETE FROM student WHERE SN = 0 "
db.execute(sql)
database.commit()
print(db.rowcount, "record(s) deleted")

1 record(s) deleted

In [18]:
db = database.cursor()

sql = "UPDATE student SET Name = 'Joker' WHERE SN = 6"

db.execute(sql)

database.commit()

print(db.rowcount, "record(s) affected")

1 record(s) affected

In [38]:
db.execute("SELECT * FROM student")
result = db.fetchall()
for x in result:
    print(x)

(4, 'Ashia', 21, 'Kathmandu')
(5, 'Ashiana', 21, 'Kathmandu')

In [41]:
mycursor = database.cursor()

sql = "UPDATE student SET SN = '2' WHERE Name = 'Ashiana'"

db.execute(sql)

database.commit()

print(db.rowcount, "record(s) affected")

1 record(s) affected

In [8]:
db.execute("SELECT * FROM student")
result = db.fetchall()
result

[(1, 'Ashia', 21, 'Kathmandu'),
 (2, 'Ashiana', 21, 'Kathmandu'),
 (3, 'Adarsh', 17, 'Kathmandu'),
 (4, 'Ayushka', 18, 'Bhaktapur'),
 (5, 'Anuska', 18, 'Bhaktapur')]

In [15]:
db = database.cursor()
sql = "Select Name,Address From student Where Address = 'Kathmandu'"
db.execute(sql)
result = db.fetchall()
for x in result:
    print(x)

('Ashia', 'Kathmandu')
('Ashiana', 'Kathmandu')
('Adarsh', 'Kathmandu')

In [16]:
sn = int(input("Enter the serial number = "))
name = input("Enter the name = ")
age = int(input("Enter the age = "))
address = input("Enter the address = ")
sql = f"INSERT INTO student (SN, Name, Age, Address) VALUES ({sn},'{name}',{age},'{address}')"
db.execute(sql)
database.commit()
print(db.rowcount, "record inserted.")

Enter the serial number = 6
Enter the name = joker
Enter the age = 25
Enter the address = Bhaktapur
1 record inserted.

In [19]:
db.execute("Select * from student")
resu = db.fetchall()
resu

[(1, 'Ashia', 21, 'Kathmandu'),
 (2, 'Ashiana', 21, 'Kathmandu'),
 (3, 'Adarsh', 17, 'Kathmandu'),
 (4, 'Ashiana', 21, 'Lalitpur'),
 (5, 'Ashiana', 22, 'Lalitpur'),
 (6, 'Joker', 25, 'Bhaktapur')]